*,html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-bg: white;
  --main-bg: rgb(12, 5, 205);
  --side-bg: rgb(34, 34, 167);
  --qris-bg: purple;
  --border-color: gray;
  --border-qris: white;
  --box-btn-pilihan: white;
  --color-text-maincontent-top: white;

}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--container-bg);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none; 
}
.container::-webkit-scrollbar {
  display: none; 
}

.main-content-beranda {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 70px;
}

.main-content-beranda .hero-section {
  flex-shrink: 0;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background: linear-gradient(to bottom, var(--main-bg), white);
}

.main-content-beranda .hero-section .section-top {
  flex-shrink: 0;
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  background: linear-gradient(to bottom, var(--main-bg) 30%, transparent 100%);
  color: var(--color-text-maincontent-top);
  padding: 10px 20px;
}
.main-content-beranda .hero-section .section-top .user {
  margin-right: auto;
}

.main-content-beranda .hero-section .main-content-top {
  position: absolute;
  top: 70px;
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background: var(--main-bg);
  color: var(--color-text-maincontent-top);
  border-radius: 12px;
  border: 2px solid var(--border-color);
}
.main-content-beranda .hero-section .main-content-top .saldo {
  margin-right: auto;
}
.main-content-beranda .hero-section .main-content-top .saldo .saldo-mata {
  display: flex;
  margin-top: 10px;
}

.main-content-beranda .hero-section .main-content-top .box-btn-kelola .btn-kelola {
  cursor: pointer;
}
.main-content-beranda .hero-section .main-content-top .box-btn-kelola ul {
  display: flex;
  flex-direction: column;
}
.main-content-beranda .hero-section .main-content-top .box-btn-kelola ul li {
  display: flex;
  flex-direction: column;

}

.main-content-beranda .section-pilihan {
  position: absolute;
  top: 260px;
  min-height: 400px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: var(--side-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.main-content-beranda .section-pilihan .box-btn-pilihan {
  width: 90%;
  height: 150px;
  background: var(--box-btn-pilihan);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 16px;
  padding: 10px;
  border-radius: 12px;
}
.main-content-beranda .section-pilihan .box-btn-pilihan .btn {
  background: red;
  border-radius: 7px;
}


.nav-bar-bottom {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 60px;
  background: var(--side-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar-bottom ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-bar-bottom ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style-type: none;
  background: white;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.nav-bar-bottom ul li a {
  text-decoration: none;
  color: black;
}
.nav-bar-bottom ul .btn-special {
  transform: translateY(-20px);
  background: var(--qris-bg);
  border-radius: 50%;
  border: 3px solid var(--border-qris);
  width: 60px;
  height: 60px;
}