*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-bg: white;
  --main-bg: rgb(12, 5, 205);
  --side-bg: rgb(34, 34, 167);
  --side-two-bg: yellow;
  --border-color: gray;
  --border-qris: white;
  --box-btn-pilihan: white;
  --color-text-maincontent-top: white;
}

/* Loading Efect */
.loading {
  position: absolute;
  z-index: 1000;
  top: 10px;
  width: 100%;
  height: 100px;
  border: 1px solid yellow;
}
.popup-loading {
  transform: translateY(-50px);
  background: transparent;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  animation: popupLoading 0.5s linear forwards;
}
@keyframes popupLoading {
  to {
    transform: translateY(0);
  }
}
.load {
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  border-left: 4px solid rgb(1, 110, 17);
  border-top: 4px solid rgb(1, 110, 17);
  border-bottom: 4px solid rgb(1, 110, 17);
  border-right: 4px solid white;
  animation: putar 1s infinite linear;
}
@keyframes putar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup-loading p {
  background: transparent;
  color: white;
}

/* popup */
.popup-error {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card {
  width: 250px;
  height: 100%;
  font-size: 1em;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  font-size: 1em;
  transform: translateY(-120px);
  animation: popup 0.5s ease forwards;
}
@keyframes popup {
  to {
    transform: translateY(0);
  }
}
.card h1,
.card p {
  background: transparent;
}
.error {
  color: rgb(182, 0, 0);
  background: salmon;
  border: 2px solid red;
}
.success {
  color: rgb(18, 251, 18);
  background: green;
  border: 2px solid rgb(18, 251, 18);
}

/* Form Login dan Daftar */

.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: var(--side-bg);
}

.form-daftar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 230px;
  background: whitesmoke;
  border-radius: 8px;
  border: 1px solid gray;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  gap: 15px;
}
.form-daftar .verif {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.form-daftar .verif input {
  width: 100%;
}
.form-daftar p {
  font-size: 10px;
}
.form-daftar input {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid var(--main-bg);
}

.form-daftar .box-btn-form,
.form-login .box-btn-form {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form-daftar .box-btn-form button,
.form-login .box-btn-form button {
  width: 30%;
  height: 33px;
  border-radius: 7px;
  border: 1px solid black;
  background: var(--side-two-bg);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease-out;
}
.form-daftar button:hover,
.form-login button:hover {
  transform: scale(0.98);
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
}
.form-daftar #pindahLogin,
.form-login #pindahDaftar {
  width: 40%;
  background: transparent;
  border: 2px solid var(--main-bg);
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background: whitesmoke;
  border-radius: 8px;
  border: 2px solid gray;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  gap: 15px;
}
.form-login input {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  border: 2px solid var(--main-bg);
}
.form-login button {
  width: 80%;
  height: 33px;
  border-radius: 7px;
  border: 1px solid black;
  background: var(--side-two-bg);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease-out;
}

/* Content utama */
.container {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--container-bg);
  display: none;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
  display: none;
}

.main-content-beranda {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 70px;
}

.main-content-beranda .hero-section {
  flex-shrink: 0;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background: linear-gradient(to bottom, var(--main-bg), white);
}

.main-content-beranda .hero-section .section-top {
  flex-shrink: 0;
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  background: linear-gradient(to bottom, var(--main-bg) 30%, transparent 100%);
  color: var(--color-text-maincontent-top);
  padding: 10px 20px;
}
.main-content-beranda .hero-section .section-top .logo {
  margin-right: 5px;
}
.main-content-beranda .hero-section .section-top .user {
  margin-right: auto;
}

.main-content-beranda .hero-section .section-top .voucher-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-maincontent-top);
  gap: 2px;
  cursor: pointer;
}
.main-content-beranda .hero-section .section-top .voucher-icon:hover {
  color: var(--side-two-bg);
}
.main-content-beranda .hero-section .section-top .voucher-icon p {
  font-size: 10px;
}

.main-content-beranda .hero-section .main-content-top {
  position: absolute;
  top: 70px;
  width: 90%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background: var(--main-bg);
  color: var(--color-text-maincontent-top);
  border-radius: 12px;
  border: 2px solid var(--border-color);
}
.main-content-beranda .hero-section .main-content-top .saldo {
  margin-right: auto;
}
.main-content-beranda .hero-section .main-content-top .saldo .saldo-mata {
  display: flex;
  margin-top: 10px;
}

.box-btn-kelola::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 19%;
  height: 2px;
  background: white;
}
.main-content-beranda
  .hero-section
  .main-content-top
  .box-btn-kelola
  .btn-kelola {
  cursor: pointer;
}
.main-content-beranda .hero-section .main-content-top .box-btn-kelola ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-content-beranda
  .hero-section
  .main-content-top
  .box-btn-kelola
  ul
  .btn-kelola {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-maincontent-top);
  border-radius: 5px;
  padding: 2px;
  gap: 2px;
  transition: all 0.3s ease-out;
}
.main-content-beranda
  .hero-section
  .main-content-top
  .box-btn-kelola
  ul
  .btn-kelola:hover {
  color: var(--side-two-bg);
}
.main-content-beranda
  .hero-section
  .main-content-top
  .box-btn-kelola
  ul
  .btn-kelola
  p {
  font-size: 12px;
}
.main-content-beranda
  .hero-section
  .main-content-top
  .box-btn-kelola
  ul
  .btn-kelola
  i {
  font-size: 20px;
}

.main-content-beranda .section-pilihan {
  position: absolute;
  top: 260px;
  height: auto;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: var(--side-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 80px;
  gap: 20px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.main-content-beranda .section-pilihan::-webkit-scrollbar {
  display: none;
}
.main-content-beranda .section-pilihan .box-btn-pilihan {
  flex-shrink: 0;
  width: 90%;
  height: 170px;
  background: var(--box-btn-pilihan);
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 16px;
  padding: 15px;
  border-radius: 12px;
}
.main-content-beranda .section-pilihan .box-btn-pilihan .btn-pilihan {
  flex-shrink: 0;
  /* border: 2px solid black; */
  background: linear-gradient(to top, rgb(209, 209, 209), white);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.main-content-beranda .section-pilihan .box-btn-pilihan .btn-pilihan:hover {
  color: var(--side-bg);
  background: linear-gradient(to bottom, rgb(209, 209, 209), white);
}
.main-content-beranda .section-pilihan .box-btn-pilihan .btn-pilihan p {
  font-size: 10px;
}
.main-content-beranda .section-pilihan .box-btn-pilihan .btn-pilihan .icon {
  font-size: 22px;
}

.main-content-beranda .section-pilihan .box-berita {
  flex-shrink: 0;
  background: white;
  width: 98%;
  height: 180px;
  border-radius: 10px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  gap: 20px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.main-content-beranda .section-pilihan .box-berita::-webkit-scrollbar {
  display: none;
}
.main-content-beranda .section-pilihan .box-berita .berita {
  flex-shrink: 0;
  width: 300px;
  height: 98%;
  border-radius: 5px;
  background: linear-gradient(to bottom, whitesmoke, rgb(209, 207, 207));
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 5px;
}

.nav-bar-bottom {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 60px;
  background: var(--side-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
}
.nav-bar-bottom .btn-navbar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: var(--side-two-bg);
  width: 50px;
  height: 50px;
  cursor: pointer;
  gap: 5px;
}
.nav-bar-bottom .btn-navbar-bottom p {
  font-size: 12px;
}
.nav-bar-bottom .btn-navbar-bottom i {
  font-size: 20px;
}

.nav-bar-bottom .btn-special {
  transform: translateY(-20px);
  background: var(--side-two-bg);
  border-radius: 50%;
  border: 3px solid var(--border-qris);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-bar-bottom .hover {
  transition: all 0.3s ease-out;
}
.nav-bar-bottom .hover:hover {
  color: yellow;
}
/* .nav-bar-bottom .btn-navbar-bottom {
  color: yellow;
} */
